[submodule "MyQueryHouse"]
	path = MyQueryHouse
	url = https://github.com/kivkiv12345/MyQueryHouse.git
[submodule "ProjectManager"]
	path = ProjectManager
	url = https://github.com/kivkiv12345/ProjectManager.git
[submodule "kotlin_hello_world"]
	path = kotlin_hello_world
	url = https://github.com/kivkiv12345/kotlin_hello_world.git
[submodule "MyQueryORM"]
	path = MyQueryORM
	url = https://github.com/kivkiv12345/MyQueryORM.git
[submodule "vue-project"]
	path = vue-project
	url = https://github.com/kivkiv12345/vue-project.git
